h3 {
    color: white;
    background-color: red;
}

hr {
    border: 2px solid black;
}

m {
    color: white;
    font-weight: 400;
}

header {
    background-color: black;
    width: 90%;
    margin: 0 auto;
    min-width: 300px;
    max-width: 2000px;
    height: auto;
    /* -webkit-column-span: all; */
    /* -webkit-column-width: ; */
    /* height: 400px; */
    border: 1px solid #c3c3c3;
    border-radius: 10px 30px 30px 30px;
}

.navbar-toggler-icon {
    margin: 0 auto;
    min-width: 300px;
    height: auto;
    color: blue;
    border-color: red;
    border-radius: 10px 30px 30px 30px;
}

.navbar-brand {
    margin: 0 auto;
    padding: auto;
}

.navbar-brand1,
.navbar-brand2 {
    /* background-color: black; */
    /* padding: 20px; */
    /* margin-left: 2px; */
    border-radius: 10px 30px 30px 30px;
}

.i-dock {
    margin-top: 5px;
}

.case {
    /* border: 5px solid darkslateblue; */
    border-radius: 20px;
    /* background-color: lightseagreen; */
    /* padding-left: 5px; */
    margin-top: 5.5px;
    margin: 0 auto;
    width: 256px;
    text-align: center;
    width: 136px;
}

.fa {
    padding-top: 6px;
    padding-left: 12.5px;
    font-size: 30px;
    height: 45px;
    width: 45px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: orangered;
    color: white;
    padding-top: 3.5px;
    padding-left: 1.5px;
    font-size: 10px;
    height: 45px;
    width: 45px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20%;
}

.fa:hover {
    opacity: 0.7;
}

.case2 {
    /* border: 5px solid darkslateblue; */
    border-radius: 20px;
    /* background-color: darkblue; */
    padding-left: 10px;
    /* padding-bottom: 10px; */
    margin: 0 auto;
    width: 136px;
}

.case3 {
    display: flex;
    justify-content: space-around;
}

.ask {
    padding-left: 7px;
    padding-top: 8px;
}

#callme {
    padding: auto;
    font-weight: 500;
    border-color: gold;
}

#prom {
    margin-top: 8px;
}

p9 {
    color: blue;
    font-weight: bold;
    text-transform: capitalize;
}

.bulletlist ul {
    text-align: justify;
}

#Curso1 {
    background-color: lightskyblue;
    padding-bottom: 20px;
}

#Curso2 {
    background-color: lightskyblue;
    padding-bottom: 20px;
}

#Curso3 {
    background-color: lightslategrey;
    padding-bottom: 20px;
}

#Curso4 {
    background-color: lightslategrey;
    padding-bottom: 20px;
}

.spacer1 {
    margin-top: 10px;
}

a {
    font-size: large;
    font-weight: 900;
}

#rot-1 {
    /* background-image: url("jbli/imgs/mat/poster.jpg");
    background-image: url("imgs/mat/poster.jpg");
    background-image: url("C:/JBLI-2015-21/jbli/imgs/mat/poster.jpg"); */
    background-repeat: repeat;
    background-position: center;
    text-align: center;
}

#rot-2 {
    /* background-image: url("https://github.com/JohnBulbow/jbli/imgs/mat/JBLI-side2.jpg");
    background-image: url("imgs/mat/JBLI-side2.jpg");
    background-image: url("C:/JBLI-2015-21/jbli/imgs/mat/JBLI-side2.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.carIndic {
    padding-top: 1px;
    padding-bottom: 20px;
}

.background1 {
    /*  border: 5px solid blue;
    background-image: url("imgs/blur/blur-video-c-sm.png");
    background-image: url("C:/JBLI-2015-21/jbli/imgs/blur/blur-video-c-sm.png"); */
    background-color: lightblue;
    background-position: center;
    padding-top: 1px;
    padding-bottom: 20px;
    width: 100%;
}

.background2 {
    background-color: lightslategrey;
    width: 100%;
}

#modulo,
#parceiros,
#courses,
#jb {
    padding-top: 1px;
    padding-bottom: 20px;
}

#parceiros {
    width: 100%;
    background-color: yellowgreen;
}

.makeroll img {
    width: 370px;
    height: 210px;
}

#courses {
    background-color: whitesmoke;
}

p {
    text-align: justify;
}

p3 {
    color: red;
    font-size: x-large;
    font-weight: bolder;
}

p5 {
    font-size: larger;
    font-weight: bolder;
    font-style: justify;
}

p6,
p7 {
    font-size: larger;
    font-weight: bolder;
}

p4 {
    font-weight: bold;
    text-align: justify;
}

p8 {
    color: white;
    text-transform: capitalize;
    text-align: center;
}

.btn-default {
    padding-top: 7px;
    padding-bottom: 9px;
    font-size: 15px;
    text-align: center center;
    margin-left: 13px;
    border-radius: 7px;
}

.btn-warning {
    background-color: red;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    text-align: center center;
    margin-right: 25px;
}

.btn-danger {
    background-color: orange;
}

.copyright {
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    padding-top: 10px;
    padding-bottom: 10px;
}